<html>

<head> 
        <title>pagina web</title>
</head>
  
<body>
       <h1>Hola UTEC</h1>
       <h2>
           <%= titulo%>
       </h2>
       <h2>
        <%= nombre%>
        </h2>
        <h2>
            <%= apellido%>
        </h2>
</body>

</html>